@model IEnumerable<FlowTransition>

<div class="row">
    <div class="col-md-12">
        <h2>Flow States</h2>
        <div class="row">
            <div class="col-md-12">
                <a asp-action="Create" asp-route-flowStateId="@Context.Request.Query["flowStateId"]" class="btn btn-primary">Create a new transition</a>
            </div>
        </div>
        <br />

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Title</th>
                    <th scope="col">CreatedAt</th>
                    <th scope="col">ModifiedAt</th>
                    <th scope="col">Deleted</th>
                    <th scope="col">Source Name</th>
                    <th scope="col">Destination Name</th>
                    <th scope="col">Transition Type</th>
                    <th scope="col">Type Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Title</td>
                        <td>@item.CreatedAt</td>
                        <td>@item.ModifiedAt</td>
                        <td>@item.Deleted</td>
                        <td>@item.Source.Name</td>
                        <td>@item.Destination.Name</td>
                        <td>@item.TransitionType.ToString()</td>
                        <td>@item.Type.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>